<h1><%= link_to l(:label_secret_santa), secret_santa_path %></h1>

<% if User.current.admin? %>
  <h2><%= l(:label_secret_santa_games) %></h2>
  <% if @games.nil? %>
    <h3><%= l(:hint_create_game) %></h3>
  <% end %>
  <div class="contextual">
    <%= link_to l(:button_create), new_secret_santa_game_path, class: 'icon icon-add' %>
  </div>
  <%= render partial: 'secret_santa/games/list', locals: { games: @games } %>
<% end %>

<h2><%= l(:label_secret_santa_players) %></h2>
<% unless SecretSanta::Player.exists?(id: User.current.id) %>
  <h3><%= l(:hint_create_member) %></h3>
  <div class="contextual">
    <%= link_to l(:button_create_member), new_secret_santa_player_path, class: 'icon icon-add' %>
  </div>
<% end %>
<%= render partial: 'secret_santa/players/list', locals: { players: @players } %>
