<h2>Create Secret Santa game</h2>

<%= form_with model: @game, url: { action: :create }, local: true do |f| %>
  <table class="attributes">
    <tr>
      <td class="label"><label for="secret_santa_game_name">Name</label></td>
      <td><%= f.text_field :name, required: true %></td>
    </tr>
    <tr>
      <td class="label"><label for="secret_santa_game_group_id">Group</label></td>
      <td>
        <%= f.select :group_id, @groups.map { |g| [g.lastname, g.id] }, prompt: 'Select group', required: true %>
      </td>
    </tr>
    <tr>
      <td class="label"><label for="secret_santa_game_message_template">Message template (use {{giver_name}}, {{receiver_name}}, {{receiver_email}}, {{game_name}})</label></td>
      <td><%= f.text_area :message_template, rows: 6 %></td>
    </tr>
  </table>

  <p><%= f.submit 'Create' %></p>
<% end %>
