<h2><%= h(@game.name) %></h2>

<p>Group: <%= h(Group.find_by(id: @game.group_id)&.lastname) %></p>
<p>Created: <%= format_time(@game.created_at) %></p>
<p>Drawn at: <%= @game.drawn_at ? format_time(@game.drawn_at) : 'Not yet' %></p>

<p>
  <%= button_to 'Run draw', { action: :draw, id: @game.id }, method: :post %>
  <%= button_to 'Send emails', { action: :send_emails, id: @game.id }, method: :post %>
  <%= link_to 'Back', action: :index %>
</p>

<h3>Participants / Assignments</h3>
<table class="list issues">
  <thead>
  <tr>
    <th>Giver</th>
    <th>Receiver</th>
  </tr>
  </thead>
  <tbody>
  <% participants = (Group.find_by(id: @game.group_id)&.users || []).select { |u| u.is_a?(User) && u.active? && u.mail.present? } %>
  <% participants.each do |p| %>
    <tr>
      <td><%= h(p.name) %> &lt;<%= h(p.mail) %>&gt;</td>
      <td>
        <% assignment = @game.assignments.detect { |a| a.giver_id == p.id } %>
        <% if assignment && assignment.receiver %>
          <%= h(assignment.receiver.name) %> &lt;<%= h(assignment.receiver.mail) %>&gt;
        <% else %>
          &mdash;
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
