<h2><%= link_to l(:label_secret_santa_games), secret_santa_path %> » <%= l(:button_show) %></h2>

<h2><%= @game.name %></h2>
<p><%= textilizable(@game.message) %></p>
<%= button_to l(:button_edit), edit_secret_santa_game_path(@game), method: :get %>

<div class="line"></div>

<% if User.current.admin? %>
  <h2><%= l(:label_secret_santa_players) %></h2>

  <% if @game.assignments.exists? %>
    <% @game.assignments.each do |a| %>
      <p><%= a.giver.user.try(:name) %> (<%= a.giver.user.try(:mail) %>)</p>
    <% end %>

    <%= button_to l(:label_update_players_list), draw_secret_santa_game_path(@game),
                  method: :post, class: 'btn btn-primary' %>

    <%= button_to l(:label_sent_emails), send_emails_secret_santa_game_path(@game),
                  method: :post, data: { confirm: l(:hint_send_emails) }, class: 'btn btn-primary' %>
  <% else %>
    <p><%= l(:label_no_data) %></p>

    <%= button_to l(:label_add_all_player_and_draw), draw_secret_santa_game_path(@game),
                  method: :post, class: 'btn btn-primary' %>
  <% end %>
<% end %>


<style>
    .line {
        height: 1px;
        background: #ccc;
        margin: 16px 0;
    }
</style>
