<%# plugin settings partial rendered from Redmine Admin -> Plugins -> Settings %>

<fieldset class="box">
  <legend><%= l(:label_secret_santa) %></legend>

  <p>
    <label><%= l(:label_secret_santa_default_subject) %></label><br />
    <%= text_field_tag 'settings[default_subject]', Setting.plugin_secret_santa['default_subject'], size: 80 %>
  </p>

  <p>
    <label><%= l(:label_secret_santa_default_message) %></label><br />
    <%= text_area_tag 'settings[default_message]', Setting.plugin_secret_santa['default_message'], rows: 10, cols: 80 %>
    <br />
    <small><%= l(:text_secret_santa_template_help) %></small>
  </p>

  <p>
    <%= submit_tag l(:button_save) %>
  </p>
</fieldset>
